nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
  height: 72px;
  background-color: #eb5656;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.212);
  transition: 0.3s;
}

.mainPageContainer {
  display: flex;
  justify-content: space-around;
}

.left_Container {
  width: 40%;
  height: 80vh;
  background-color: #fc9797;
}
.right_Container {
  width: 50%;
}

.content1,
.content2 {
  height: 600px;
  height: 82px;
  background-color: #fc9797;
}

.content2 {
  margin-top: 40px;
}

.WelcomePageContent {
  padding-top: 35rem;
}

.welcomeText {
  margin-bottom: 2rem;
  color: #000;
  font-size: 64px;
}

.registration {
  display: flex;
  gap: 4rem;
}

.signUp,
.signIn {
  display: grid;
  float: left;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 280px;
  border: 2px solid #e7e7e7;
  margin: 20px auto;
  padding: 15px;
  border-radius: 12px;
  background: #d9d9d9;

  font-size: 18px;
  transition: opacity 0.4s;
}
.header_logo {
  font-size: 2rem;
}
.signOut_btn {
  margin-top: 0;
}

button {
  cursor: pointer;
  background-color: #d9d9d9;
  border: 2px solid #e7e7e7;
  border-radius: 12px;
  color: #000;
  font-size: 20px;
  width: 187px;
  height: 49px;
  margin-top: 2rem;
  flex-shrink: 0;
}
